@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.search .MuiAutocomplete-inputRoot {
  padding: 0 !important;
  min-height: 40px; 
}
.main {
  max-width: 1440px;
  margin: auto;
}
.double-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
p.MuiFormHelperText-root {
  bottom: -15px;
    padding-left: 0;
    width: 100%;
    margin-left: 3px!important;
}

/* global.css или другой файл стилей */
.cell-style {
  background-color: #d1f5d1; /* Светло-зеленый фон */
  border: 1px solid #ccc; /* Легкая граница */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Легкая тень */
  padding: 8px;
  text-align: center; /* Центрирование текста по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center;
  font-size: 12px; /* Уменьшаем шрифт для маленьких экранов */
}
.textArea input {
  height: 200px;
}

.textArea div fieldset {
  height: 100px;
}

.textArea div textarea {
  margin-top: 50px;
  padding: 10px;
}

.textArea {
  height: 100px;
}
.header-text {
  text-transform: uppercase;
  padding: 6px 8px;
  text-align: center;
}
.button-center {
  width: 100%;
  text-align: center;
}
@media (max-width: 600px) {
  .header-text {
    font-size: 12px!important;
    padding: 6px 6px;
  }
  p.MuiFormHelperText-root {
      font-size: 10px;
  }
  .message-line {
    display: flex;
    flex-direction: column!important;
  }
}